<div>
    <div class="header">
        <h2><strong>Informations</strong> Personnelles</h2>
        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li> </li>
                <li class="active">Dashboard</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="widget widget_slider p-0 h-50 m-b-0">
                <div class="slick" data-dots="false" data-num-slides="5" data-center="true">
                    <div class="slide">
                        <p><i class="wi wi-day-windy"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="fa fa-car"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="glyphicon glyphicon-tags"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="fa fa-film"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="wi wi-day-rain-mix"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="wi wi-day-windy"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="fa fa-eyedropper"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="glyphicon glyphicon-gift"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="icons-sport-06"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="fa fa-building"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="panel">
                <div class="panel-header md-panel-controls">
                    <h3><i class="icon-bulb"></i> Mes <strong>Objectifs</strong></h3>
                </div>
                <div class="panel-content">
                    <div class="fade active in">
                        <h4>Position stable à Genève dans les domaines Webs & Ludiques</h4>
                        <p>Recherche d'une opportunité dans les secteurs du Web et des Jeux-Vidéos pour m'impliquer efficacement au sein d'une organisation croyant obtenir un avantage réel en me recrutant.</p>
                        <p>Passionné par la programmation, les bases de données ainsi que les architectures réseaux conséquentes, je souhaite au sein de ma future entreprise faire évoluer et acquérir de nouvelles connaissances, mais aussi faire partager mon expérience, ma capacité d'adaptation aux situations nouvelles, et ma motivation qui sauront dynamiser votre structure et apporter les compétences nécessaires afin de participer à vos projets et vous aider à proposer les meilleurs produits & services pour vos clients.</p>
                    </div>
                </div><br />
                <div class="panel-header md-panel-controls">
                    <h3><i class="glyphicon glyphicon-tags"></i> Ce que je <strong>Fais</strong></h3>
                </div>
                <div class="panel-content">
                    <div class="fade active in">
                        <h4>Expérience confortable dans les métiers du Web</h4>
                        <p>Devenu récemment beaucoup plus à l'aise sur la création de mes différentes réalisations, je suis en actuellement pleine expansion pour pouvoir proposer une expérience utilisateur de qualité et susciter un fort intêret par mon éventuel futur employeur.</p>
                        <p>Depuis mes débuts, j'ai toujours travaillé en tant que concepteur d'interfaces Web, au préalable sur les langages C#, Javascript et ASP.Net puis par la suite sur PHP ainsi que ses différents frameworks existants (tels que Symfony & Laravel) tout en fournissant à mes homologues un sérieux support sur des machines dédiées basées sur des systèmes UNIX.</p>
                        <p>Je souhaite continuer à développer mes compétences dans la création de mouvements (jeux-vidéos) et ma connaissance du Web afin de constituer un atout honnête pour mon entreprise. J'aime coder avec <strong>un style rigoureux, élégant & propre.</strong></p>
                        <p>En tant qu'individu, vous me trouverez assurément créatif, drôle et naturellement passionné. Je fais parti des penseurs qui portent mes actions vers l'avant et nul doute que d'autres pourront trouver grâce à cela une source d'inspiration lors de tout travail en équipe.</p>
                    </div>
                </div>
                <div class="panel-content">
                    <div class="fade active in">
                        <ul class="list-check">
                            <div class="col-md-6">
                                <li>Développeur Front & Back</li>
                                <li>Design d'Interface</li>
                                <li>Expérience Utilisateur</li>
                            </div>
                            <div class="col-md-6">
                                <li>Modéles UML</li>
                                <li>Conception Dynamique</li>
                                <li>Big Data</li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="my-signature">
                    <br /><img src="modules/dashboard/assets/images/sign.png" alt="" class="center-block"><br />
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-header md-panel-controls">
                    <h3>Informations <strong>Bio</strong></h3>
                </div>
                <div class="panel-content">
                    <div class="myphoto">
                        <img src="modules/dashboard/assets/images/308755.jpeg" width="200px" alt="" class="center-block">
                    </div>
                    <div class="tab_right">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-home"></i> Bio</a></li>
                            <li class><a href="#tab2" data-toggle="tab"><i class="icon-user"></i> Skills</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="tab1">
                                <p>Nom : {{ people.name }}</p>
                                <p>Prénom : {{ people.surname }}</p>
                                <p>Naissance : {{ people.birthDate | date:'dd/MM/yyyy' }}</p>
                                <p>Adresse : </p>
                                <p>{{ people.commWay[2].adress }}</p>
                                <p><strong>{{ people.commWay[2].postalCode }}</strong> - {{ people.commWay[2].city }}</p>
                                <p>Email : {{ people.commWay[1].email }}</p>
                                <p>Téléphone : {{ people.commWay[0].number }}</p>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <div class="widget-progress-bar" style="margin-top: 53px;">
                                    <div class="clearfix">
                                        <div class="title">Microsoft .Net & SQL Serveur</div>
                                        <div class="number">62%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary stat1" data-transitiongoal="82" style="width: 62%;" aria-valuenow="82"></div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="title">PHP (+Symfony / Laravel) & mySQL</div>
                                        <div class="number">63%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary stat2" data-transitiongoal="43" style="width: 63%;" aria-valuenow="43"></div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="title">HTML5 / CSS3 / JS / Node.js / Angular</div>
                                        <div class="number">56%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary stat3" data-transitiongoal="76" style="width: 56%;" aria-valuenow="76"></div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="title">Administration UNIX</div>
                                        <div class="number">70%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary stat4" data-transitiongoal="93" style="width: 70%;" aria-valuenow="93"></div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="title">C / C++ / Java</div>
                                        <div class="number">30%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary stat5" data-transitiongoal="93" style="width: 30%;" aria-valuenow="93"></div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="title">Développement Jeux / Unity / Unreal</div>
                                        <div class="number">10%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary stat6" data-transitiongoal="93" style="width: 10%;" aria-valuenow="93"></div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="title">Réseaux / LAN - WLAN / TCP/IP / etc...</div>
                                        <div class="number">46%</div>
                                    </div>
                                    <div class="progress m-b-0">
                                        <div class="progress-bar progress-bar-primary stat7" data-transitiongoal="76" style="width: 46%;" aria-valuenow="76"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-header md-panel-controls">
                    <h3>Téléchargement C.V  <strong>& Contact</strong></h3>
                </div>
                <div class="panel-content">
                    <div class="download-button">
                        <a href="#/main/user-contact" class="btn btn-info btn-md"><i class="fa fa-paper-plane"></i>Contactez-moi</a>
                        <a href="modules/dashboard/assets/files/cv.rar" class="btn btn-primary btn-md"><i class="fa fa-download"></i>Téléchargement C.V</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="copyright">
            <p class="pull-left sm-pull-reset">
                <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
                <span>NoXeN</span>.
                <span>All rights reserved. </span>
            </p>
            <p class="pull-right sm-pull-reset">
                <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
        </div>
    </div>
</div>
