<div>
    <div class="header">
        <h2><strong>Informations</strong> Personnelles</h2>
        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li> </li>
                <li class="active">Dashboard</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="widget widget_slider p-0 h-50 m-b-0">
                <div class="slick" data-dots="false" data-num-slides="5" data-center="true">
                    <div class="slide">
                        <p><i class="wi wi-day-windy"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="fa fa-car"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="glyphicon glyphicon-tags"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="fa fa-film"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="wi wi-day-rain-mix"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="wi wi-day-windy"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="fa fa-eyedropper"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="glyphicon glyphicon-gift"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="icons-sport-06"></i></p>
                    </div>
                    <div class="slide">
                        <p><i class="fa fa-building"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="panel">
                <div class="panel-header md-panel-controls">
                    <h3><i class="icon-bulb"></i> Mes <strong>Objectifs</strong></h3>
                </div>
                <div class="panel-content">
                    <div class="tab-pane fade active in" id="tab3_2">
                        <h4>"SOONER OR LATER, THOSE WHO WIN ARE THOSE WHO THINK THEY CAN."</h4>
                        <p>Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-header md-panel-controls">
                    <h3>Informations <strong>Bio</strong></h3>
                </div>
                <div class="panel-content">
                    <div class="tab_right">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-home"></i> Bio</a></li>
                            <li class><a href="#tab2" data-toggle="tab"><i class="icon-user"></i> Skills</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="tab1">
                                <p>Nom : {{ people.name }}</p>
                                <p>Prénom : {{ people.surname }}</p>
                                <p>Naissance : {{ people.birthDate | date:'dd/MM/yyyy' }}</p>
                                <p>Adresse : </p>
                                <p>{{ people.commWay[2].adress }}</p>
                                <p><strong>{{ people.commWay[2].postalCode }}</strong> - {{ people.commWay[2].city }}</p>
                                <p>Email : {{ people.commWay[1].email }}</p>
                                <p>Téléphone : {{ people.commWay[0].number }}</p>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="copyright">
            <p class="pull-left sm-pull-reset">
                <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
                <span>NoXeN</span>.
                <span>All rights reserved. </span>
            </p>
            <p class="pull-right sm-pull-reset">
                <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
        </div>
    </div>
</div>
