<div>
    <div class="header">
        <h2>Layout <strong>Page</strong></h2>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Voici quelques outils pour jouer avec l'aspect et la disposition du site et ses menus. L'icone <i class="icon-wrench"></i> sur votre droite permet également de modifier la disposition.</p>
            </ul><br /><br />
            <div class="panel">
                <div class="panel-content p-t-0">
                    <div class="row">
                        <div class="col-md-4">
                            <h3><strong>Sidebar Fixed / Fluid</strong></h3>
                            <div class="row layout-options">
                                <div class="col-sm-12">
                                    <a data-toggle="sidebar-behaviour" href="#">
                                        <img src="modules/layout/assets/images/sidebar-fluid.jpg" alt="sidebar-fluid" class="img-sidebar-fluid hidden img-responsive">
                                        <img src="modules/layout/assets/images/sidebar-fixed.jpg" alt="sidebar-fixed" class="img-sidebar-fixed img-responsive">
                                    </a>
                                </div>
                            </div>
                            <p class="m-t-5"><small class="sidebar-txt">current layout: <strong>sidebar fixed</strong></small></p>
                        </div>
                        <div class="col-md-4">
                            <h3><strong>Submenu on Click / Hover</strong></h3>
                            <div class="row layout-options">
                                <div class="col-sm-12">
                                    <a data-toggle="submenu" href="#" class="submenu-layout">
                                        <img src="modules/layout/assets/images/submenu-hover.jpg" alt="submenu" class="img-submenu-hover hidden img-responsive">
                                        <img src="modules/layout/assets/images/submenu-click.jpg" alt="submenu" class="img-submenu-click img-responsive">
                                    </a>
                                </div>
                            </div>
                            <p class="m-t-5"><small class="submenu-txt">current layout: <strong>sidebar submenu on click</strong></small></p>
                        </div>
                        <div class="col-md-4">
                            <h3><strong> Boxed / Fullwidth</strong></h3>
                            <div class="row layout-options">
                                <div class="col-sm-12">
                                    <a data-toggle="boxed" href="#" class="layout-boxed">
                                        <img src="modules/layout/assets/images/boxed.jpg" alt="boxed" class="img-boxed hidden img-responsive">
                                        <img src="modules/layout/assets/images/sidebar-large.jpg" alt="boxed" class="img-sidebar-large img-responsive">
                                    </a>
                                </div>
                            </div>
                            <p class="m-t-5"><small class="boxed-txt">current layout: <strong>fullwidth page</strong></small></p>
                        </div>
                        <div class="col-md-4">
                            <h3><strong> Sidebar on Click / Hover</strong></h3>
                            <div class="row layout-options">
                                <div class="col-sm-12">
                                    <a data-toggle="sidebar-hover" href="#" class="layout-sidebar-hover">
                                        <img src="modules/layout/assets/images/sidebar-large.jpg" alt="boxed" class="img-sidebar-click img-responsive">
                                        <img src="modules/layout/assets/images/sidebar-hover.jpg" alt="boxed" class="img-sidebar-hover hidden img-responsive">
                                    </a>
                                </div>
                            </div>
                            <p class="m-t-5"><small class="sidebar-hover-txt">current layout: <strong>sidebar visible</strong></small></p>
                        </div>
                        <div class="col-md-4">
                            <h3><strong>Topbar Fixed / Fluid</strong></h3>
                            <div class="row layout-options">
                                <div class="col-sm-12">
                                    <a data-toggle="topbar" href="#">
                                        <img src="modules/layout/assets/images/topbar-fixed.jpg" alt="topbar" class="img-topbar-fixed img-responsive">
                                        <img src="modules/layout/assets/images/topbar-fluid.jpg" alt="topbar" class="img-topbar-fluid hidden img-responsive">
                                    </a>
                                </div>
                            </div>
                            <p class="m-t-5"><small class="topbar-txt">current layout: <strong>topbar fixed</strong></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="copyright">
            <p class="pull-left sm-pull-reset">
                <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
                <span>NoXeN</span>.
                <span>All rights reserved. </span>
            </p>
            <p class="pull-right sm-pull-reset">
                <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
        </div>
    </div>
</div>