<div>
    <div class="row">
        <div class="col-lg-12">
            <!-- BEGIN TIMELINE CONTENT -->
            <div class="timeline-btn-day">
                <i class="icon-custom-left"></i>
                <button type="button" class="btn btn-primary f-16"><strong>Demain</strong></button>
            </div>
            <section id="timeline">
                <div class="timeline-block">
                    <div class="timeline-icon bg-primary">
                        <i class="icon-picture"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-heading clearfix">
                            <h2 class="pull-left">Ent. <strong>INFONOVA</strong></h2>
                            <div class="pull-right">
                                <div class="pull-left">
                                    <div class="timeline-day-number">Juillet</div>
                                </div>
                                <div class="pull-left">
                                    <div class="timeline-day">2015</div>
                                    <div class="timeline-month c-gray">à Mai 2016</div>
                                </div>
                            </div>
                        </div>
                        <p>Formation Pole-Emploi suivi d’un contrat CDD en tant que Développeur PHP / Symfony / Angular sur le développement d’une application de courtage pour des enseignes de rachat de crédit, à Quarante (34).</p>
                        <p>Liens : <a href="http://www.infonova.fr" target="_blank">www.infonova.fr</a> - <a href="http://www.courtier-web.com/" target="_blank">www.courtier-web.com</a> </p>
                        <img src="modules/pages/assets/images/courtier-web-ecran.png">
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-icon bg-dark">
                        <i class="icon-camera"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-heading clearfix">
                            <h2 class="pull-left">Cité Scolaire <strong>Vigan</strong></h2>
                            <div class="pull-right">
                                <div class="pull-left">
                                    <div class="timeline-day-number">Sept.</div>
                                </div>
                                <div class="pull-left">
                                    <div class="timeline-day">2013</div>
                                    <div class="timeline-month c-gray">à Août 2014</div>
                                </div>
                            </div>
                        </div>
                        <p>Assistant Éducation et Animation de club informatique (Initiation Informatique pour les collégiens puis cours d’algorithmique & de programmation à des lycéens), Le Vigan (30).</p>
                        <p>Lien : <a href="http://www.lyc-levigan.ac-montpellier.fr/" target="_blank">www.lyc-levigan.ac-montpellier.fr</a></p>
                        <img src="modules/pages/assets/images/img0301.png">
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-icon bg-primary">
                        <i class="icon-picture"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-heading clearfix">
                            <h2 class="pull-left">Pompiers & <strong>Humanitaire</strong></h2>
                            <div class="pull-right">
                                <div class="pull-left">
                                    <div class="timeline-day-number">Fin</div>
                                </div>
                                <div class="pull-left">
                                    <div class="timeline-day">2012</div>
                                    <div class="timeline-month c-gray">à Début 2013</div>
                                </div>
                            </div>
                        </div>
                        <p>Volontariat aux pompiers et constitution d’un projet humanitaire visible sur www.wta.travel (en maintenance présentement).</p>
                        <img src="modules/pages/assets/images/wta.jpg">
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-icon  bg-yellow">
                        <i class="icon-pointer"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-heading clearfix">
                            <h2 class="pull-left"><strong>Voyages</strong> pendant 2 ans</h2>
                            <div class="pull-right">
                                <div class="pull-left">
                                    <div class="timeline-day-number">2010</div>
                                </div>
                                <div class="pull-left">
                                    <div class="timeline-day">et</div>
                                    <div class="timeline-month c-gray">2011</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-icon bg-purple">
                        <i class="icon-calendar"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-heading clearfix">
                            <h2 class="pull-left"><strong>Ent.</strong> Histophile</h2>
                            <div class="pull-right">
                                <div class="pull-left">
                                    <div class="timeline-day-number">Juin</div>
                                </div>
                                <div class="pull-left">
                                    <div class="timeline-day">2009</div>
                                    <div class="timeline-month c-gray">à Janvier 2010</div>
                                </div>
                            </div>
                        </div>
                        <p>Développeur Web .Net, SQL Server, ASP.NET, Silverlight et Js, à Baillargues (34).</p>
                        <p>Lien : <a href="http://www.histophile.com/" target="_blank">www.histophile.com</a></p>
                        <img src="modules/pages/assets/images/histophile.jpg">
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-icon bg-dark">
                        <i class="icon-pencil"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-heading clearfix">
                            <h2 class="pull-left"><strong>Formation</strong> Informatique de Gestion</h2>
                            <div class="pull-right">
                                <div class="pull-left">
                                    <div class="timeline-day-number">Sept.</div>
                                </div>
                                <div class="pull-left">
                                    <div class="timeline-day">2007</div>
                                    <div class="timeline-month c-gray">à Décembre 2008</div>
                                </div>
                            </div>
                        </div>
                        <p class="article-extract">
                            <i class="fa fa-quote-left"></i> Formation Développeur Informatique à L’AFPA, Titre de Technicien Supérieur (Bac+2), Béziers (34).<i class="fa fa-quote-right"></i>
                        </p>
                        <ul>
                            <li>Apprentissage de l’Algorithmique, concepts objets (avec C# et VB.Net), des technologies web (ASP, Ajax, Web Services) ainsi que la spécification et la conception d’un projet grâce à U.M.L.</li>
                            <li>Stage de deux mois effectué à l’entreprise Script’Games à Cap Omega sur Montpellier (34). Participation au développement d’un simulateur en 3D pour l’infanterie (Moteur Shiva, C & Lua).</li>
                            <li>Projet de fin d’étude présenté devant un jury de 3 personnes (constitué de chef de projets ou directeurs de société de service informatique) portant sur une application de gestion de colocation développé en ASP, C# et U.M.L.</li>
                        </ul>
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-icon bg-purple">
                        <i class="icon-calendar"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-heading clearfix">
                            <h2 class="pull-left"><strong>Ent.</strong> Netceler</h2>
                            <div class="pull-right">
                                <div class="pull-left">
                                    <div class="timeline-day-number">Janvier</div>
                                </div>
                                <div class="pull-left">
                                    <div class="timeline-day">2006</div>
                                </div>
                            </div>
                        </div>
                        <p>Développeur Java et Technicien Réseau, à Veynes (05). Participation au développement JAVA logiciel de gestion et d’automatisation de barrière équipant des parkings automobile.</p>
                        <p>Lien : <a href="http://www.netceler.com/v2/fr/" target="_blank">www.netceler.com</a></p>
                        <img src="modules/pages/assets/images/netceler_ivpark.jpg">
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-icon bg-dark">
                        <i class="icon-pencil"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-heading clearfix">
                            <h2 class="pull-left"><strong>Alpes</strong> Informatique</h2>
                            <div class="pull-right">
                                <div class="pull-left">
                                    <div class="timeline-day-number">Mai</div>
                                </div>
                                <div class="pull-left">
                                    <div class="timeline-day">2003</div>
                                    <div class="timeline-month c-gray">à Octobre 2004</div>
                                </div>
                            </div>
                        </div>
                        <p>Gérant d’entreprise, Alpes Informatique à Barcelonnette (04).</p>
                        <p>Activités : Vente matériel informatique et multimédia, formation, création de sites web et hébergement, location de serveurs dédiés sur Redbus (Matériel Cisco et Unix), installations réseaux, intégration et dépannage.</p>
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-icon bg-primary">
                        <i class="icon-picture"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-heading clearfix">
                            <h2 class="pull-left">Ent. <strong>MediaBat</strong></h2>
                            <div class="pull-right">
                                <div class="pull-left">
                                    <div class="timeline-day-number">Juillet</div>
                                </div>
                                <div class="pull-left">
                                    <div class="timeline-day">2001</div>
                                    <div class="timeline-month c-gray">à Avril 2002</div>
                                </div>
                            </div>
                        </div>
                        <p>Développeur et Hotliner sur logiciel de devis/factures pour les artisans du bâtiment conçut sous Windev, à Montpellier (34). Intégration Hard et dépannage client.</p>
                        <p>Liens : <a href="http://www.mediabat.com/" target="_blank">www.mediabat.com</a></p>
                        <img src="modules/pages/assets/images/mediabat.png">
                    </div>
                </div>
                <div class="timeline-block">
                    <div class="timeline-icon bg-dark">
                        <i class="icon-camera"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-heading clearfix">
                            <h2 class="pull-left">Institut <strong>BGS</strong></h2>
                            <div class="pull-right">
                                <div class="pull-left">
                                    <div class="timeline-day-number">Mars</div>
                                </div>
                                <div class="pull-left">
                                    <div class="timeline-day">2001</div>
                                    <div class="timeline-month c-gray">à Juin 2001</div>
                                </div>
                            </div>
                        </div>
                        <p>Administrateur Réseau, à Paris (75). Gestion d’un parc informatique de 35 machines ~, dépannages réseaux, Mise en place d’un serveur de mail Exchange, centralisation sous Windows 2000 Server.</p>
                        <img src="modules/pages/assets/images/bgs.jpg">
                    </div>
                </div>
            </section>
            <!-- END TIMELINE CONTENT -->
        </div>
    </div>
    <div class="footer">
        <div class="copyright">
            <p class="pull-left sm-pull-reset">
                <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
                <span>NoXeN</span>.
                <span>All rights reserved. </span>
            </p>
            <p class="pull-right sm-pull-reset">
                <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
        </div>
    </div>
</div>
