<div>
    <div class="header">
        <h2><strong>Contact</strong> Page</h2>
        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li class="active">Contact</li>
                <li>
                    <a href="#/main/dashboard">Dashboard</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="height:720px">
            <div>
                <div class="map-contact">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2765.3663297503986!2d6.190490349867788!3d46.12353230253658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c70c9917476f3%3A0x9ab29365453df68f!2sLa+Joie%2C+74560+La+Muraz!5e0!3m2!1sfr!2sfr!4v1468154753595" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Contactez-Moi</h2>
                    </div>
                </div>
                <div class="row m-b-30">
                    <div class="col-sm-6">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="firstname" class="h6">First Name</label>
                                    <input type="text" id="firstname" class="form-control form-white">
                                </div>
                                <div class="col-sm-6">
                                    <label for="lastname" class="h6">Last Name</label>
                                    <input type="text" id="lastname" class="form-control form-white">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="email" class="h6">E-mail</label>
                                    <input type="text" id="email" class="form-control form-white">
                                </div>
                                <div class="col-sm-6">
                                    <label for="website" class="h6">Website</label>
                                    <input type="text" id="website" class="form-control form-white">
                                </div>
                            </div>
                            <label for="message" class="h6">Message</label>
                            <textarea rows="7" id="message" class="form-control form-white"></textarea>
                            <button type="submit" class="btn btn-primary m-t-20">Send message</button>
                        </form>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="additional">
                            <h3>Coordonnées</h3>
                            <p>Ne pas hésiter à me contacter directement par mail à <a href="#">thierry.prost@gmail.com</a> ou par téléphone au <b>+33 6 03 90 90 69</b>.</p>
                        </div>
                        <div class="phone">
                            <h1 class="c-primary">+33 6 03 90 90 69</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="footer">
        <div class="copyright">
            <p class="pull-left sm-pull-reset">
                <span>Copyright <span class="copyright">&copy;</span> 2016 </span>
                <span>NoXeN</span>.
                <span>All rights reserved. </span>
            </p>
            <p class="pull-right sm-pull-reset">
                <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
        </div>
    </div>
</div>